<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 2px solid white;
}
=======
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 2px solid white;
}
>>>>>>> 1b817e58ea880daa9591564bc4da9b18ee8cf34f
