<<<<<<< HEAD
body {
  background: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

canvas {
  border: 2px solid white;
  background: #333;
  margin-top: 20px;
}

h1 {
  margin-top: 20px;
=======
body {
  background: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

canvas {
  border: 2px solid white;
  background: #333;
  margin-top: 20px;
}

h1 {
  margin-top: 20px;
>>>>>>> 1b817e58ea880daa9591564bc4da9b18ee8cf34f
}